---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a href="/">
			<h1
				class="text-center mt-10 mb-5 text-5xl font-bold [letter-spacing:.3rem] uppercase text-yellow-200"
			>
				Neriroads
			</h1>
		</a>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-color: white;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: var(--primary-color);
	}
</style>
